body {
  background-color: white;
  font-family: "Raleway", sans-serif;
}

header {
  background-color: white;
}

h1 {
  margin-left: 1vw;
  font-family: "Stalemate", cursive;
  font-size: 7vh;
  color: #03989e;
}

p {
  margin-left: 1vw;
  font-size: 3vh;
}

img {
  max-width: 80%;
}

#logo {
  height: 10vh;
  width: auto;
}

/* responsive site media query */
@media (min-width: 1200px) {
  h1 {
    font-size: 8vh;
  }
  p {
    font-size: 4vh;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 5vh;
  }
  p {
    font-size: 3vh;
  }
  .container {
    flex-wrap: wrap;
  }

  .container > li {
    flex-basis: 100%;
  }
}
