body {
  background-color: white;
  font-family: "Raleway", sans-serif;
}

h1 {
  margin: 1vw;
  font-family: "Stalemate", cursive;
  font-size: 7vh;
  color: #03989e;
}

p {
  margin: 1vw;
  font-size: 3vh;
}

img {
  max-width: 80%;
}

/* responsive site media query */
@media (min-width: 1200px) {
  h1 {
    font-size: 10vh;
  }
  p {
    font-size: 4vh;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 5vh;
  }
  p {
    font-size: 3vh;
  }
}
