body {
  background-color: white;
  font-family: "Raleway", sans-serif;
}

header {
  background-color: white;
}

@font-face {
  font-family: BukhariScript;
  src: url("../font/Bukhari_Script.ttf");
  font-style: cursive;
}

h1 {
  margin-left: 1vw;
  font-family: "Oleo Script", cursive;
  font-size: 6vh;
  color: #03989e;
}

h2 {
  font-size: 5vh;
  font-family: "Oleo Script", cursive;
}

p {
  margin-left: 1vw;
  font-size: 3vh;
  font-weight: 400;
}

img {
  max-width: 80%;
}

#logo {
  height: 10vh;
  width: auto;
}

/* responsive site media query */
@media (min-width: 1200px) {
  h1 {
    font-size: 7vh;
  }
  h2 {
    font-size: 5vh;
  }
  p {
    font-size: 4vh;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 4vh;
  }
  h2 {
    font-size: 3vh;
  }
  p {
    font-size: 3vh;
  }
  .container {
    flex-wrap: wrap;
  }

  .container > li {
    flex-basis: 100%;
  }
}
